<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="container">
        <h1>{{ app_name }}</h1>
        {% if enable_creation_of_new_profiles %}
        <button><a href="/create-profile">Create your own</a></button>
        {% endif %}
        {% if enable_editing_after_creation %}
        <button><a href="/edit-profile">Edit your own</a></button>
        {% endif %}
        <button><a href="/support">Support project</a></button>
        <a href="https://github.com/jedrzejme/YourOwnCard" target="_blank"><div class="footer">Show GitHub project</div></a>
    </div>
</body>
</html>
