<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/support-styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="container">
        <h1>Choose currency</h1>
        <button><a href="https://donate.stripe.com/5kA6rQ1P66OKbEA9AC">USD</a></button>
        <button><a href="https://donate.stripe.com/9AQ2bA1P63Cy4c87sv">EUR</a></button>
        <button><a href="https://donate.stripe.com/3cs6rQ8dua0WfUQ4gh">PLN</a></button>
    </div>
</body>
</html>
